<mat-card>
  <mat-card-header>Galactic Phone Book</mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let person of persons">
        <h3 mat-line> {{person.firstname}} {{person.lastname}} {{person.phoneNumber}}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
